* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-asx-font-smoothing: grayscale;
}
:root {
    font-size: 62.5%;

}
body {
    font-size: 1.6rem;
    font-family: inter;
}
.box {
    
    
    padding: 2.9rem 4.8rem;

    
    background: #363447;
    box-shadow: 0.3rem  0.4rem 2.6rem rgba(0, 0, 0, 0.25);
    border-radius: 1.6rem;
    color: white;
    line-height: 160%;
}
.grid{

    display: grid;
}
#app {
    background: #292738;
    

    grid-template-columns: 29.6rem max-content max-content;
    grid-template-rows:max-content;
    column-gap: 3.2rem;
    row-gap: 5.9rem;


width:fit-content;
height: 100vh;
min-height:fit-content;
min-width: 10vw;

padding: 11.2rem 12.3rem;
place-content: center;
}   

.box:nth-child(4) {
    grid-column:1/4;
    
}



.top {
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}
.bottom {
    display:flex ;
    gap: 2rem;
    justify-content: center;
    margin-top: auto;
    font-weight: 500;
    font-size: 14px;

}
.bottom .item {
    display: flex;
    align-items: center;
    gap: 1rem;
    

}
.bottom .item span:nth-child(1){
    display: flex;
    align-items: center;
    gap: 0.4rem;
}
.bottom .item span {
    --bg-color: #4A4556;
}
.bottom .item span:nth-child(1)::before {
    
    content: "";
    width:1.5rem ;
    height: 1.5rem;
    display: block;
    background:var(--bg-color);
    border-radius: 999px;
    
}



 .nps {


gap: 3.2rem;


 }   
.nps .middle {
    height: 19.7rem;
    place-content:center ;
    justify-items: center;
    gap: 1.6rem;
    color: #81FBB8;

}
.nps .bottom{
  
    
    justify-content: center;
    gap: 1rem;

}